@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    /* Colors */
    --color-bg: #F2EAE2;
    --color-cta: #3D8168;
    --color-cta-hover: #1A4032;
    --color-main: #6C7289;
    --color-title: #1C232B;
    --color-card-bg: #FFF;

    /* Fonts */
    --font-main: 'Montserrat', sans-serif;
    --font-secondary: 'Fraunces', sans-serif;
    --fw-500: 500;
    --fw-700: 700;

    /* Scale font size to 10 */
    font-size: 62.5%;
}

* {
    /* Resets */
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    /* Bring default browser font size back to 16px */
    font-family: var(--font-main);
    font-weight: var(--fw-500);
    font-size: 1.6rem;
    background-color: var(--color-bg);
    color: var(--color-main);

}

.mobile-img {
    display: none;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.desktop-img {
    border-radius: 1rem 0 0 1rem;
}

.desktop-img,
.info-section {
    width: 30rem;
    height: 45rem;
    background-color: var(--color-card-bg);
}

.info-section {
    width: 30rem;
    border-radius: 0 1rem 1rem 0;
}

.name {
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    margin: 3.2rem 17.65rem 2rem 3.15rem;
}

.title,
.new-price {
    font-family: var(--font-secondary);
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: var(--fw-700);
    margin: 0 1.9rem 3rem 3.2rem;
    color: var(--color-title);
}

.paragraph {
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin: 0 3.15rem 2.9rem 3.15rem;
}

.new-price {
    color: var(--color-cta);
    padding-right: 1.9rem;
    display: inline-block;
}

.old-price {
    display: inline-block;
    font-size: 1.3rem;
    position: relative;
    bottom: 0.4rem;
    text-decoration: line-through;
}
svg {
    margin-right: 1.161rem;
    position: relative;
    top: 0.3rem;
}

.cta {
    display: block;
    width: 23.6rem;
    height: 4.8rem;
    font-size: 1.4rem;
    font-weight: var(--fw-700);
    background-color: var(--color-cta);
    border-radius: 0.8rem;
    color: var(--color-card-bg);
    margin: 0 auto;
}

.cta:hover {
    background-color: var(--color-cta-hover);
    cursor: pointer;
}


.attribution {
    font-size: 11px;
    text-align: center;
    }
  
.attribution a {
    color: hsl(228, 45%, 44%);
    }